<%- include("partials/header"); -%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/Team.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div style="margin: 0 auto 20px; text-align: center">
      <h1 style="color:darkgreen">Meet the Team</h1>
    </div>
  </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="img/QuocProfile" class="profile-image" alt="Quoc">
          <div class="container">
            <h2>Quoc Luong</h2>
            <p>Team Leader / Front-End Developer</p>
            <p>I am major in computer science at California State University, Fullerton.
              This is my second semester at CSUF after transferring from Santa Ana College.
              I worked to design the home page and write the fetch data function to contribute to our project.</p>
            <a href="mailto:"><i class="fas fa-envelope-open-text"></i></a>
            <a href="https://github.com/"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="img/PreetProfile.jpg" class="profile-image" alt="Preet">
          <div class="container">
            <h2>Preet Desai</h2>
            <p>Front-End Developer</p>
            <p>I'm a Senior at California State University, Fullerton. I am majoring in Computer science and expecting
              to graduate Fall, 2021.
              I worked front-end along with Quoc, and created the meet the team page for the project.
            </p>
            <a href="mailto:preetdesai025@outlook.com"><i class="fas fa-envelope-open-text"></i></a>
            <a href="https://github.com/preetdesai025"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/pd13/"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="#" class="profile-image" alt="Loai">
          <div class="container">
            <h2>Loai Alfarran</h2>
            <p>Back-End Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <a href="mailto:"><i class="fas fa-envelope-open-text"></i></a>
            <a href="https://github.com/"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="img/fs_picture.png" class="profile-image" alt="Fahad">
          <div class="container">
            <h2>Fahad Alsowaylim</h2>
            <p>Back-End Developer</p>
            <p>My name is Fahad Alsowaylim, I grew up in Saudi Arabia,
              graduated high school when I was 17, moved to California right away.
              I'm graduating B.S in Computer Science this year and starting
              my Master's Degree in Software Engineering next year.</p>
            <a href="mailto:"><i class="fas fa-envelope-open-text"></i></a>
            <a href="https://github.com/"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>
